{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}


    <main>

        <section class="py-5 text-center container">
            <div class="row py-lg-4">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="h1 fw-bold text-white">EXPLORE, SELECT, BUY</h1>
                    <p class="lead text-white">from office requirements all the way to furniture, what you search for is
                        few clicks away</p>
                    <p>
                        <a href="{% url 'Akala:seller_signup' %}" class="btn btn-primary my-2">Make an account</a>
                    </p>
                </div>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">

                <div class="pb-3 h5">All items</div>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">

                    {% for product in products %}

                        <div class="col">
                            <div class="card shadow-sm">
                                <img class="img-fluid" alt="Responsive image" {% if product.image %}
                                     src="{{ product.image.url }}" {% else %}
                                     src="{% static "images/f362733f-f3fc-4c8f-9c7f-4f5e6ae47feb.png" %}"{% endif %}>
                                <div class="card-body">
                                    <p class="card-text">
                                        <a class="text-dark text-decoration-none"
                                           href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">

                                        <small class="text-muted">{% if product.is_discount == True %}
                                            <s style="color: #808080">${{ product.price }}</s>
                                            <br>
                                            <font size="+2"
                                                  style="color: #000000"><strong>${{ product.discounted_price }}</strong></font>
                                        {% else %}<font size="+2"> ${{ product.price }}{% endif %}</font></small>
                                    </div>

                                </div>
                            </div>
                        </div>

                    {% endfor %}

                </div>
            </div>
        </div>
    </main>

{% endblock %}